body {
    background-image: linear-gradient(to left, #FF7E0D 50%, transparent), url('../ong3.png');
    background-size: cover; /* Adjust the sizing as needed */
    background-repeat: no-repeat;
    background-attachment: scroll; /* This keeps the image fixed while scrolling */
    background-position: bottom, center;
}

@media (max-width: 768px) {
    body {
        background-color: #FF7E0D;
        background-image: none; /* Remove the gradient */
    }
}

.header h1 {
    color: #1834E8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.header p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.header hr {
    color: #1834E8;
    height: 3px; /* Adjust the height as needed */
    background-color: blue; /* Change the color if desired */
    border: none; /* Remove the default border */
    margin-top: 10px; /* Adjust the margin as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
}

.botaoCriar {
    background-color: #1834E8;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px; /* Adjust the border radius as needed */
    padding: 12px 12px; /* Adjust the padding for the button size */
    border: none;
    width: 200px
}

.form-group {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}