
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
    
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AiderHub</title>
    <link rel="stylesheet" href="~/css/StyleLogin.css" />

</head>
<html>
<body>
    <div class="row">
    <div class="col-md-6">
        <div class="header">
            <div class="header-container">
                <h1>Bem vindo!</h1>
                <p>Ainda não tem uma conta? <a class="link" asp-controller="Usuarios" asp-action="ongVol">Cadastre-se</a></p>
            </div>
        </div>
        <div class="form-container">
            <div class="form-box">
                <form asp-action="Login" method="post">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input type="password" class="form-control" id="senha" name="Senha" required>
                    </div>
                    <button type="submit" class="botao">Login</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img class="img-fluid right-image" src="~/login.jpg" id="responsiveImage" />
    </div>
    </div>
</body>
</html>

@if (ViewBag.Mensagem != null)
{
    <div>@ViewBag.Mensagem</div>
}
