@{
    Layout = "_LayoutVazio";
}

<head>
    <link rel="stylesheet" href="./css/landingpagestyle.css">
    <title>AiderHub</title>
</head>
<body>
    <div class="justify-content-center">
        @*<div class="circle"></div>*@
        <div class="content">
            <div class="textBox">
                <h2>Finalize <br>As <span> Horas</span></h2>
                <h2 class="d-inline">Da Faculdade <br> <span> Ajudando </span> O Próximo</h2>
            </div>
            <div class="imgBox">
                <img src="~/ilustracao (1).png" class="starbucks">
            </div>
        </div>
        @*<ul class="thumb">
            <li><div class="circle"></div></li>
        </ul>*@
    </div>
</body>
