@{
    Layout = "_LayoutLogin";
}

<head>
    <link rel="stylesheet" href="~/css/landingpagestyle.css">
    <title>AiderHub</title>
</head>
<body>
    <div class="justify-content-center">
        <div class="circle"></div>
        <div class="content">
            <div class="textBox">
                <h2>Finalize <br>as <span class="highlight-text blue-text">horas</span></h2>
                <h2 class="d-inline">da Faculdade <br> <span class="highlight-text orange-text">ajudando</span> o próximo</h2>
            </div>
            <div class="imgBox">
                <img src="~/ilustracao.png">
            </div>
            <div class="limiter"></div>
        </div>
    </div>
</body>


